body {
  padding: 10px;
}

.top,
.first-middle,
.second-middle,
.third-middle,
.bottom {
  display: grid;
  padding: 10px 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.first-middle,
.second-middle,
.third-middle {
  justify-content: space-around;
  padding: 10px;
}

.nr6,
.nr7,
.nr8 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.nr1,
.nr2,
.nr3,
.nr4,
.nr5,
.nr6,
.nr7,
.nr8,
.nr9,
.nr10,
.nr11,
.nr12,
.nr13,
.nr14,
.nr15,
.nr16 {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.content-nr1 {
  transform: rotate(150deg);
}
.content-nr5 {
  transform: rotate(230deg);
}
.content-nr9 {
  transform: rotate(310deg);
}
.content-nr13 {
  transform: rotate(45deg);
}
.rectangle {
  width: 10px;
  height: 50px;
  background-color: yellow;
  border: 1px solid black;
}
.nr16,
.nr15,
.nr14 {
  display: flex;
  justify-content: flex-end;
}
.content-nr16,
.content-nr15,
.content-nr14 {
  transform: rotate(90deg);
  padding: 10px 10px;
}
.rectangle-right {
  width: 10px;
  height: 50px;
  background-color: orange;
  border: 1px solid black;
}
.nr6,
.nr7,
.nr8 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.content-nr6,
.content-nr7,
.content-nr8 {
  transform: rotate(270deg);
  padding: 10px 10px;
}
.rectangle-bottom {
  width: 10px;
  height: 50px;
  background-color: violet;
  border: 1px solid black;
}
.nr12,
.nr11,
.nr10 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  transform: rotate(90deg);
}
.content-nr12,
.content-nr11,
.content-nr10 {
  transform: rotate(270deg);
  padding: 10px 10px;
}
.rectangle-top {
  width: 10px;
  height: 50px;
  background-color: green;
  border: 1px solid black;
}
.nr2,
.nr3,
.nr4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transform: rotate(90deg);
}
.content-nr2,
.content-nr3,
.content-nr4 {
  transform: rotate(90deg);
  padding: 10px 10px;
}
